<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>create a new Listing</h3>
    <form method="post" action="/listings">
        <input type="text" name="listings[title]" placeholder="enter title">
        <br><br>
        <textarea type="text" name="listings[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="listings[image]" placeholder="enter image url">
        <br><br>
        <input type="number" name="listings[price]" placeholder="enter price">
        <br><br>
        <input type="text" name="listings[country]" placeholder="enter country">
        <br><br>
        <input type="text" name="listings[location]" placeholder="enter location">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>