<% layout('layouts/boilerplate.ejs') -%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a new Listing</h3>
            <br>
            <form method="post" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="listings[title]" placeholder="Add a catchy titile" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" id="description" name="listings[description]" placeholder="Add a Description"
                        class="form-control" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" id="image" name="listings[image]" placeholder="enter image URL/link"
                        class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"> Price</label>
                        <input type="number" id="price" name="listings[price]" placeholder="Add Price" class="form-control" required>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="listings[country]" placeholder="India" class="form-control" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label"> Location</label>
                    <input type="text" id="location" name="listings[location]" placeholder="Add a Location" class="form-control" required>
                </div>
                <button class="btn btn-dark edit-btn">Add</button>
            </form>
        </div>
    </div>